<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Listas V6</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <style>
            ul {
                list-style: none;
            }
            h1, p {
                display: inline;
            }
        </style>
    </head>

    <body>
        <div id="app">
            <ul>
                <li v-for="(cor, index) in cores">{{index+1}}) {{ cor }}</li>
            </ul>
            <button @click="cores.push('lilás')" :key="cor">Adicionar Cor</button>
            
            <hr>
            <template v-for="(cor, index) in cores">
                <h1>{{ cor }}</h1>
                <p>{{ index }}</p>
            </template>
            <div v-for="(cor, index) in cores">
                <h1>{{ cor }}</h1>
                <p>{{ index }}</p>
            </div>
            <hr>
            <ul>
                <li v-for="pessoa in pessoas">
                    <div v-for="(valor, chave, index) in pessoa">{{index+1}}) {{chave}} = {{ valor }} </div>
                </li>                
            </ul>
            <hr>
            <span v-for="n in 10"> {{ n }} </span>
            <div v-for="n in 10"> {{ n }} </div>
        </div>

        <script>
            new Vue({
                el: '#app',

                data: {
                    cores: ['azul', 'branco', 'rosa', 'verde'],
                    pessoas: [
                        {nome: 'Lucas', idade: 22, cidade: 'Carapicuiba'},
                        {nome: 'Natalia', idade: 22, cidade: 'Sao Paulo'},
                        {nome: 'Jubileu', idade: 75, cidade: 'Osasco'},
                    ]
                },
            })
        </script>
    </body>
</html>