<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Matador de Monstro</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">        
        <div>
            <div class="display-jogo">
                <p class="text-players">Jogador</p>
                <div class="barra-progresso">
                    <div class="progresso" :style="playerLifeBar" :class="{lowLife : playerLife < 20}"></div>
                </div>
                <p>{{ playerLife }}%</p>
            </div>
            <div class="display-jogo">
                <p class="text-players">Monstro</p>
                <div class="barra-progresso" >
                    <div class="progresso" :style="monsterLifeBar" :class="{lowLife : monsterLife < 20}"></div>
                </div>
                <p>{{ monsterLife }}%</p>
            </div>
        </div>
        <div v-if="resultado">
            <div v-if="monsterLife == 0" class="win">Você Venceu :)</div>
            <class v-else class="lose">Você Perdeu :(</class>
        </div>
        <hr>
        <div v-if="inicio">
            <button id="btnInicio" class="buttons" @click="iniciar">INICIAR NOVO JOGO</button>
        </div>
        <div v-else>
            <button id="btnAtaque" class="buttons" @click="ataca">ATAQUE</button>
            <button id="btnAtaqueEspecial" class="buttons" @click="atacaEspecial">ATAQUE ESPECIAL</button>
            <button id="btnCurar" class="buttons" @click="cura">CURAR</button>
            <button id="btnDesistir" class="buttons" @click="desistir">DESISTIR</button>
        </div>        
        <hr>
        <div v-if="logs.length">
            <ul class="lista">
                <li v-for="log in logs" :class="log.cls"> {{log.text}} </li>
            </ul>
        </div>

    </div>
    <script src="app.js"></script>
</body>
</html>